/* ---------------------
   CUSTOM CSS starts
   --------------------- */

/* GLOBAL STYLES
---------------- */
html {
  scroll-behavior: smooth;
}

html * {
  scroll-margin-top: 60px;
}

body {
  font: 400 15px/1.8 Lato, sans-serif;
}

h3, h4 {
  margin: 10px 0 20px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111;
}

textarea {
  resize: none;
  margin-bottom: 0.5rem;
}

label {
  margin: 0;
}

p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.container {
  padding-top: 2rem;
}

.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h3 {
  color: #fff;
}
.card {
  background: transparent;
  border: none;
}
.card p {
  font-family: sans-serif;
  color: rgb(80, 196, 28);
}
.card span {
  font-size: 1.2rem;
}
.card:hover > p {
  color: unset;
}

.blockquote p, #videos div div div.card p, #music div div div p, #shop div div div p span {
  font-family: 'Special Elite', cursive;
}

.reviews {
  overflow: hidden;
}

#music div div div.card, #videos div div div.card, #shop div div div.card, .btn-outline-light {
  -webkit-transition: all 1s cubic-bezier(0,.29,0,.29);
  transition: all 1s cubic-bezier(0,.29,0,.29);
}

#music div div div.card:hover, #shop div div div.card:hover {
  background: #2d2d30;
}

#videos div div div.card:hover {
  background: black !important;
  padding: 0.5em 0 0.5em 0 !important;
}

.btn-outline-light {
  background-color: #2d2d30;
}

.btn-outline-light:hover {
  color: initial;
  background-color: white;
  border-color: white;
}


/* NAVBAR
   ------ */
.navbar {
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
  background-color: black;
}
.navbar-brand {
  opacity: 1.0;
}
.navbar-brand img {
  width: 3rem;
  height: 3rem;
}

.nav-link {
  color: rgba(255,255,255,.7) !important;
}

.nav-link:hover {
  color: rgba(255,255,255,.8) !important;
}

.nav-link.active, nav a b {
  font-weight: bold;
  color: rgb(87, 252, 16) !important;
}

/* Underline NavBar From Center
------------------------------- */
/* Exclude devices when menu collapses */
@media screen and (min-width : 856px) {
  /* .navbar-nav > a:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 15px;
      background: rgb(87, 252, 16, 0.75);
      height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  } */
  .navbar-nav > a:hover:before {
    left: 65px;
    right: 20px;
  }
}

.navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;
  padding-inline: revert;
}

.navbar-nav li {
  padding-left: 0.5rem;
}

.navbar-toggler {
  margin-right: 1rem;
  transition: none;
}
/* end NAVBAR custom */

.a-link {
  color: #212529;   
}

.a-new {
  border-style: outset;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgba(87, 252, 16, 0.9);
}

.a-new {
  color: rgb(161, 161, 161);
  text-decoration: none;
}

.a-new:hover {
  background: rgba(87, 252, 16, 0.9);
  color: rgba(255, 255, 0, 1) !important;
  font-weight: bold;
  text-decoration: none;
}

/* Carousel */
#photos {
  margin-top: 60px;
  background-color: black;
}

.carousel-item {
  max-width: 1400px;
  transition: none;
}

/* .carousel-item.single {
  max-width: 800px;
} */

.carousel-item.active {
  float: none;
  margin: 0 auto;
}
.carousel-indicators li.active {
  background-color: rgb(87, 252, 16, 0.75);
}
.carousel-indicators {
  position: static;
}
.carousel-indicators li {
  width: 2rem !important;
  height: 1rem !important;
}
.carousel-control-prev, .carousel-control-next {
  width: 5%;
  height: 80%;
}

.carousel-caption {
  top: 0px;
  right: 5%;
  text-align: right;
}


/* CUSTOMIZE Carousel Anim
-------------------------------- */
.carAnim img {
  -webkit-animation: carFade 4s ease 0s infinite alternate;
  animation: carFade 4s ease 0s infinite alternate;
  /* object-fit: scale-down; */
}
    
@keyframes carFade {
  from { opacity: 0.05; }
  to   { opacity: 1.0; }     
}

/* CUSTOMIZE ImgAnim
-------------------------------- */
.ImgAnim blockquote {
  -webkit-animation: ImgFade 5s ease 0s infinite alternate;
  animation: ImgFade 5s ease 0s infinite alternate;
}
    
@keyframes ImgFade {
  from { opacity: 0.1; }
  to   { opacity: 1.0; }     
}
/* ... end ImgAnim settings */

.blockquote-footer {
  background-color: transparent;
}

form {
  background-image: url('../assets/sj-logo-opt.svg'); 
  background-repeat: no-repeat; 
  background-size: 10rem; 
  background-position: top right;
}

form input,
form textarea {
  opacity: 0.85;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    line-height: 12px;
}
footer p {
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
footer img {
    width: 2rem;
}

.social-icons * {
    vertical-align: unset;
}
.social-icons img:hover {
    background-color: rgb(87, 252, 16);
    border-radius: 5px;
}

.to-top {
  color: lightgray;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.to-top:hover {
  color: chartreuse;
}


/* iFrames lazy loading CSS */

.if-wrap {
  position: relative;
  height: 100%;
  min-height: 200px;
}

.if-wrap a svg {
  position: relative;
}

.if-wrap > a {
  position: absolute;

  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
} 

#music .if-wrap > a {
  top: 35%;
}

#music .card iframe {
  margin-top: -0.9rem;
  opacity: 0.8;
  max-width: 270px;
}

.if-wrap a:hover {
  -moz-transition: transform 0.1s ease 0s;
  -webkit-transition: transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.if-wrap svg path {
  -moz-transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1);
  -webkit-transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1);
  transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1);
  fill: rgb(87, 252, 16);
  fill-opacity: 0.7;
}

.if-wrap a:hover * {
  fill-opacity: 1;
  font-weight: bold;
}

.if-wrap a:hover text {
  font-weight: bold;
}

.if-wrap svg text {
  fill: #cacaca;
  font-size: 6.5rem;
}

svg.bi {
  font-size: 1.7rem;
}


/* =================================================
   =         Bootstrap 5.2 Media Queries             =
   ================================================= */

  /* -------------- Mobile First Method ------------ */
/*
/* Extra small devices (portrait phones, less than 576px) */ 
@media screen and (max-width : 575.98px) {
  .carousel-inner { height: 300px; }
  .single { width: 300px; }
  .reviews { height: 210px; }
  blockquote * { font-size: 0.9rem; }
}

/* Small devices (landscape phones, 576px and up) */ 
@media screen and (min-width : 576px) {
  .carousel-inner { height: 400px; }
  .single { width: 400px; }
  .reviews { height: 215px; }
  blockquote * { font-size: 1.15rem; }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width : 768px) {
  .carousel-inner { height: 500px; }
  .single { width: 500px; }
  .reviews { height: 225px; }
  blockquote * { font-size: 1.25rem; }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width : 992px) {
  .carousel-inner { height: 700px; }
  .single { width: 700px; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width : 1200px) {
  .carousel-inner { height: 800px; }
  .single { width: 800px; }
}

@media screen and (max-width: 856px) {
  .navbar-nav {
    font-size: 0.85rem;
    }
}

@media screen and (max-width: 280px) {
  .top-sj, .top-new { display: none; }
  .carousel-inner { height: 150px; }
  .single { width: 150px; }  
}